.dayOne {
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
}
.dayTwo {
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
}
.dayThree {
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
}
.dayFour {
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
}
.dayFive {
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
}